{%- assign section_identifier = '#shopify-section-' | append: section.id -%}
{%- assign  padding_top = section.settings.padding_top | append:'px' -%}
{%- assign  padding_bottom = section.settings.padding_bottom | append:'px' -%}

{%- assign padding_mobile_top = section.settings.padding_top_mob | append: 'px' -%}
{%- assign padding_mobile_bottom = section.settings.padding_bottom_mob | append: 'px' -%}


{%- assign section_background = section.settings.section_background -%}
{%- assign inner_background = section.settings.inner_background -%}

{% style %}
 {{ section_identifier }} {
    padding-top: {{padding_top}};
    padding-bottom: {{padding_bottom}};
    background: {{ section_background }};
  }
  {{ section_identifier }} .product-comparison {
    background: {{ inner_background }};
  }

 @media only screen and (max-width: 430px) {
    {{ section_identifier }} {
      padding-top: {{ padding_mobile_top }};
      padding-bottom: {{ padding_mobile_bottom }};
    }
  }
{% endstyle %}
    <kiks-product-comparison> 
        <div class="product-comparison section section-full">
            <{{ section.settings.heading_tag }} class="{{ section.settings.heading_tag }} section-header-comparison" style="text-align: {{ header_position }};">
                {% comment %} {{ section.settings.text }} {% endcomment %}
                {%- render 'styled-text', content: section.settings.sec_heading_text, text_color: section.settings.header_text_color, gradient: section.settings.background_gradient -%}
            </{{ section.settings.heading_tag }}>
        
            <div class="select-container">
                <div class="select-main-inner">
                    <select id="chair1" class="chair1">
                        {%- for block in section.blocks -%}
                            <option value="product-{{ block.id }}" 
                                    data-style="{{ block.settings.style }}" 
                                    data-color="{{ block.settings.color }}" 
                                    data-massage="{{ block.settings.massage }}"
                                    data-arm_style="{{ block.settings.arm_style }}" 
                                    data-ventilation_heated_function="{{ block.settings.ventilation }}" 
                                    data-warranty="{{ block.settings.warranty }}" 
                                    data-material="{{ block.settings.material }}" 
                                    data-recommended_height="{{ block.settings.recommended_height | escape }}" 
                                    data-maximum_weight="{{ block.settings.weight }}">
                                {{ block.settings.product.title }}
                            </option>
                        {%- endfor -%}
                    </select>
                </div>
                <div class="select-main-inner">
                    <select id="chair2" class="chair2">
                        {%- for block in section.blocks -%}
                            <option value="product-{{ block.id }}" 
                                    data-style="{{ block.settings.style }}" 
                                    data-color="{{ block.settings.color }}" 
                                    data-massage="{{ block.settings.massage }}"
                                    data-arm_style="{{ block.settings.arm_style }}" 
                                    data-ventilation_heated_function="{{ block.settings.ventilation }}" 
                                    data-warranty="{{ block.settings.warranty }}" 
                                    data-material="{{ block.settings.material }}" 
                                    data-recommended_height="{{ block.settings.recommended_height | escape }}" 
                                    data-maximum_weight="{{ block.settings.weight }}">
                                {{ block.settings.product.title }}
                            </option>
                        {%- endfor -%}
                    </select>
                </div>
            </div>
        
            <div class="product-container">
                <div id="product-left" class="product-left product-item"></div>
                <div id="product-right" class="product-right product-item"></div>
            </div>
        
            {%- for block in section.blocks -%}
            <div class="product" id="product-{{ block.id }}">
                {%- if block.settings.product.featured_image != blank -%}
                    {{- block.settings.product.featured_image | image_url: width: block.settings.product.featured_image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 100vw, 650px', widths: '200,300,400,600,800,1000,1200,1400,1600', class: 'rounded-sm' -}}
                {%- else -%}
                    {%- capture image_placeholder -%}product-{%- cycle '1', '2', '3', '4' -%}{%- endcapture -%}
                    {{- image_placeholder | placeholder_svg_tag: 'placeholder' -}}
                {%- endif -%}
                <div class="product-info">
                   <div class="inner-product-info">
                    <div class="rating-with-text">
                        <span class="product-card__title"><a href="{{ block.settings.product.title.url }}" class="custom_product_title bold" data-instant>{{ block.settings.product.title }}</a></span>
                          {%- capture rating_class -%}{% if mobile_reduced %}hidden sm:flex{% endif %}{%- endcapture -%}
                          {%- render 'product-rating', product: block.settings.product, class: rating_class, display_mode: settings.product_rating_mode -%}
                      </div>
                   <p class="comparison-price">
                    {% comment %} <span class="price-label">Price : </span> {% endcomment %}
                    {%- render 'price-list', product: block.settings.product -%}
                   </p>
                   </div>
                   <div class="action-container">
                       <a href="{{ block.settings.product.url }}" is="custom-button" class="shop-now button button--xl">SHOP NOW</a>
                   </div>
                </div>
            </div>
            {%- endfor -%}
        
            <table class="compare-table">
                {% comment %} <tr>
                    <th>Feature</th>
                    <th id="feature-chair1">Chair 1</th>
                    <th id="feature-chair2">Chair 2</th>
                </tr> 
                {% endcomment %}


                {%- assign features = "style,color,massage,arm_style,ventilation_heated_function,warranty,material,recommended_height,maximum_weight" | split: "," -%}
                {%- for feature in features -%}
                    <tr>
                      <td>{% comment %}{{ feature | replace: "_", " " | capitalize }}{% endcomment %} 
                        {{ section.settings[feature] }}
                      </td>
                      <td class="{{ feature }}-chair1">-</td> <!-- Chair 1 -->
                      <td class="{{ feature }}-chair2">-</td> <!-- Chair 2 -->
                    </tr>
                    {%- endfor -%}
            </table>
        </div>
    </kiks-product-comparison>
        
    {% schema %}
    {
      "name": "Kiks Comparison",
      "class": "kiks-comparison",
      "tag": "section",
      "settings": [
        {
            "type": "text",
            "id": "sec_heading_text",
            "label": "Section heading",
            "default": "Choose Your Perfect Gaming Chair"
        },
        {
        "type": "select",
        "id": "header_position",
        "label": "Header position",
        "options": [
            {
            "value": "start",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "end",
            "label": "Right"
            }
        ],
        "default": "center"
        },
        {
            "type": "header",
            "content": "Header Colors",
            "info": "Gradient replaces solid colors when set."
        },
        {
            "type": "color_background",
            "id": "background_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Text"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "Heading Size",
            "options": [
                {"value": "h1", "label": "X-Large"},
                {"value": "h2", "label": "Large"},
                {"value": "h3", "label": "Medium"},
                {"value": "h4", "label": "Small"},
                {"value": "h5", "label": "X-Small"},
                {"value": "h6", "label": "XX-Small"}
            ],
            "default": "h2"
        },
        {
            "type": "header",
            "content": "Kikstart Spacing Settings"
        },
        {
            "type": "color",
            "id": "section_background",
            "label": "background",
            "default": "#F0F0F0"
        },
        {
            "type": "color",
            "id": "inner_background",
            "label": "background",
            "default": "#FFFFFF"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_top_mob",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "For Mobile Padding top",
            "default": 48
        },
        {
            "type": "range",
            "id": "padding_bottom_mob",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "For Mobile Padding Bottom",
            "default": 48
        },
        {
            "type": "header",
            "content": "Product Settings",
            "info": "make sure to add "
        },
        {
            "type": "text",
            "id": "style",
            "label": "Style label",
            "default": "Style"
        },
        {
            "type": "text",
            "id": "color",
            "label": "Color label",
            "default": "color"
        },
        {
            "type": "text",
            "id": "massage",
            "label": "Massage label",
            "default": "massage"
        },
        {
            "type": "text",
            "id": "arm_style",
            "label": "Arm style label",
            "default": "arm style"
        },
        {
            "type": "text",
            "id": "ventilation_heated_function",
            "label": "ventilation heated function label",
            "default": "ventilation & heated function"
        },
        {
            "type": "text",
            "id": "warranty",
            "label": "Warranty label",
            "default": "warranty"
        },
        {
            "type": "text",
            "id": "material",
            "label": "Material label",
            "default": "material"
        },
        {
            "type": "text",
            "id": "recommended_height",
            "label": "Recommended height label",
            "default": "recommended height"
        },
        {
            "type": "text",
            "id": "maximum_weight",
            "label": "Maximum weight label",
            "default": "maximum weight"
        }
      ],
      "blocks": [
        {
        "type": "product",
        "name": "Product",
        "settings": [
            {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "style",
                    "label": "Style",
                    "default": "Ultra"
                },
                {
                    "type": "text",
                    "id": "color",
                    "label": "Color",
                    "default": "Black"
                },
                {
                    "type": "text",
                    "id": "massage",
                    "label": "Massage",
                    "default": "Yes"
                },
                {
                    "type": "text",
                    "id": "arm_style",
                    "label": "Arm Style",
                    "default": "6D Foldable Mechanical Armrests"
                },
                {
                    "type": "text",
                    "id": "ventilation",
                    "label": "Ventilation & Heated Function",
                    "default": "Yes"
                },
                {
                    "type": "text",
                    "id": "warranty",
                    "label": "Warranty",
                    "default": "Extended 3-Year Warranty"
                },
                {
                    "type": "text",
                    "id": "material",
                    "label": "Material",
                    "default": "PU Leather"
                },
                {
                    "type": "text",
                    "id": "recommended_height",
                    "label": "Recommended height",
                    "default": "51.5\"D x 52\" W x 128.5\"H"
                },
                {
                    "type": "text",
                    "id": "weight",
                    "label": "Maximum Weight",
                    "default": "396 Pounds"
                }
                
            ]
        }
      ],
      "presets": [
        {
          "name": "Kiks Comparison",
          "category": "Custom",
          "blocks": [
            {
              "type": "product"
            },
            {
              "type": "product"
            }
          ]
        }
      ]
    }
    {% endschema %}
    