{%- if section.blocks.size > 0 -%}
    {% comment %} {%- render 'section-spacing-collapsing' -%} {% endcomment %}
    {%- assign section_identifier = '#shopify-section-' | append: section.id -%}
    <style>

      {{ section_identifier }}.kiks-text-with-icons kiks-icons-slider.text-with-icons__list {
        scroll-snap-type: unset;
        overscroll-behavior-x: unset;
        /* overflow: visible; */
    }
    {{ section_identifier }}.kiks-text-with-icons .section.section-full {
            padding: 24px 0;
     }
    {{ section_identifier }}.kiks-text-with-icons .section.section-full .swiper-wrapper {
        display: flex;
        align-items: center;
        -webkit-transition-timing-function: linear !important;  
          transition-timing-function: linear !important; 
    }
    {{ section_identifier }}.kiks-text-with-icons  .swiper-slide {
        flex-shrink: 0;
        display: flex;
        gap: 8px;
        padding: 0;
    }
    @media only screen and (max-width: 820px) {
      {{ section_identifier }}.kiks-text-with-icons .text-with-icons__text-wrapper .prose {
        font-size: 14px;
      }
    }
    @media only screen and (max-width: 430px) {
      {{ section_identifier }}.kiks-text-with-icons  .swiper-slide svg {
        width: 20px;
      }
      {{ section_identifier }}.kiks-text-with-icons  .swiper-slide {
        align-items: center;
      }
      {{ section_identifier }}.kiks-text-with-icons .text-with-icons__text-wrapper .prose {
        font-size: 12px;
      }
    }

    /* Base hidden state */
    .slide-content > * {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }

    /* Trigger animation when slide is selected */
    .slideshow__slide.is-selected .slide-content > * {
      opacity: 1;
      transform: translateY(0);
    }

    /* Stagger effect */
    .slideshow__slide.is-selected .slide-content > *:nth-child(1) {
      transition-delay: 0.1s;
    }
    .slideshow__slide.is-selected .slide-content > *:nth-child(2) {
      transition-delay: 0.3s;
    }
    .slideshow__slide.is-selected .slide-content > *:nth-child(3) {
      transition-delay: 0.5s;
    }
    .slideshow__slide.is-selected .slide-content > *:nth-child(4) {
      transition-delay: 0.7s;
    }
    /* Add more nth-child rules if needed */

    </style>
  
    <div {% render 'section-properties' %}>
      <div class="kiks-section-stack">
        {%- if section.settings.title != blank -%}
          <div class="justify-self-center">
            <h2 class="h3">{{ section.settings.title | escape }}</h2>
          </div>
        {%- endif -%}
  
        <div class="kiks-text-with-icons">
          <kiks-icons-slider data-auto-slide="{{ section.settings.auto_slide }}" data-scroll-speed="{{ section.settings.speed_slider }}" data-loop="{{ section.settings.enable_loop }}"  data-navigation="false">
            <div class="kiks-text-with-icons__list swiper">
                <div class="swiper-wrapper">
                    {%- for block in section.blocks -%}
                    {%- liquid
                        assign loading_strategy = nil
            
                        if section.index > 3 or forloop.index > 3
                        assign loading_strategy = 'lazy'
                        endif
                    -%}
        
                    <div id="block-{{ section.id }}-{{ block.id }}" class="swiper-slide text-with-icons__item" {{ block.shopify_attributes }}>
                        {%- capture icon -%}
                        {%- if block.settings.custom_icon != blank -%}
                            {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                            {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
                            {%- capture style -%}--mobile-icon-max-width: {{ block.settings.mobile_icon_width }}px; --icon-max-width: {{ block.settings.icon_width }}px{%- endcapture -%}
                            {{- block.settings.custom_icon | image_url: width: block.settings.custom_icon.width | image_tag: loading: loading_strategy, sizes: sizes, widths: widths, style: style, class: 'image-icon' -}}
                        {%- else -%}
                            {%- render 'icon' with block.settings.icon, width: block.settings.mobile_icon_width, height: block.settings.mobile_icon_width, class: 'sm:hidden' -%}
                            {%- render 'icon' with block.settings.icon, width: block.settings.icon_width, height: block.settings.icon_width, class: 'hidden sm:block' -%}
                        {%- endif -%}
                        {%- endcapture -%}
        
                        {%- if icon != blank -%}
                        {%- if block.settings.icon_background_type == 'none' -%}
                            <div {% render 'surface', text_color: block.settings.icon_color %}>
                            {{- icon -}}
                            </div>
                        {%- else -%}
                            {%- capture surface_class -%}icon-block {% if block.settings.icon_background_type == 'circle' %}rounded-full{% endif %}{%- endcapture -%}
                            <div {% render 'surface', class: surface_class, background: block.settings.icon_background, text_color: block.settings.icon_color, background_fallback: 'bg-secondary' %}>
                            {{- icon -}}
                            </div>
                        {%- endif -%}
                        {%- endif -%}
        
                        <div class="text-with-icons__text-wrapper">
                        <div class="prose">
                            {%- if block.settings.title != blank -%}
                            <p class="{{ section.settings.heading_tag }}">{{ block.settings.title | escape }}</p>
                            {%- endif -%}
        
                            {{- block.settings.content -}}
                        </div>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
          </kiks-icons-slider>
        </div>
      </div>
    </div>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Kiks Text with icons",
    "class": "shopify-section--text-with-icons kiks-text-with-icons",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "custom.overlay"]
    },
    "blocks": [
      {
        "type": "item",
        "name": "Text with icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "picto-coupon",
                "label": "Coupon",
                "group": "Shop"
              },
              {
                "value": "picto-percent",
                "label": "Percent",
                "group": "Shop"
              },
              {
                "value": "picto-gift",
                "label": "Gift",
                "group": "Shop"
              },
              {
                "value": "picto-star",
                "label": "Star",
                "group": "Shop"
              },
              {
                "value": "picto-like",
                "label": "Like",
                "group": "Shop"
              },
              {
                "value": "picto-building",
                "label": "Building",
                "group": "Shop"
              },
              {
                "value": "picto-love",
                "label": "Love",
                "group": "Shop"
              },
              {
                "value": "picto-award-gift",
                "label": "Award gift",
                "group": "Shop"
              },
              {
                "value": "picto-happy",
                "label": "Happy",
                "group": "Shop"
              },
              {
                "value": "picto-box",
                "label": "Box",
                "group": "Shipping"
              },
              {
                "value": "picto-pin",
                "label": "Pin",
                "group": "Shipping"
              },
              {
                "value": "picto-timer",
                "label": "Timer",
                "group": "Shipping"
              },
              {
                "value": "picto-validation",
                "label": "Validation",
                "group": "Shipping"
              },
              {
                "value": "picto-truck",
                "label": "Truck",
                "group": "Shipping"
              },
              {
                "value": "picto-return",
                "label": "Return",
                "group": "Shipping"
              },
              {
                "value": "picto-earth",
                "label": "Earth",
                "group": "Shipping"
              },
              {
                "value": "picto-plane",
                "label": "Plane",
                "group": "Shipping"
              },
              {
                "value": "picto-credit-card",
                "label": "Credit card",
                "group": "Payment & Security"
              },
              {
                "value": "picto-lock",
                "label": "Lock",
                "group": "Payment & Security"
              },
              {
                "value": "picto-shield",
                "label": "Shield",
                "group": "Payment & Security"
              },
              {
                "value": "picto-secure-profile",
                "label": "Secure profile",
                "group": "Payment & Security"
              },
              {
                "value": "picto-money",
                "label": "Money",
                "group": "Payment & Security"
              },
              {
                "value": "picto-recycle",
                "label": "Recycle",
                "group": "Ecology"
              },
              {
                "value": "picto-leaf",
                "label": "Leaf",
                "group": "Ecology"
              },
              {
                "value": "picto-tree",
                "label": "Tree",
                "group": "Ecology"
              },
              {
                "value": "picto-mobile-phone",
                "label": "Mobile phone",
                "group": "Communication"
              },
              {
                "value": "picto-phone",
                "label": "Phone",
                "group": "Communication"
              },
              {
                "value": "picto-chat",
                "label": "Chat",
                "group": "Communication"
              },
              {
                "value": "picto-customer-support",
                "label": "Customer support",
                "group": "Communication"
              },
              {
                "value": "picto-operator",
                "label": "Operator",
                "group": "Communication"
              },
              {
                "value": "picto-mailbox",
                "label": "Mailbox",
                "group": "Communication"
              },
              {
                "value": "picto-envelope",
                "label": "Envelope",
                "group": "Communication"
              },
              {
                "value": "picto-comment",
                "label": "Comment",
                "group": "Communication"
              },
              {
                "value": "picto-question",
                "label": "Question",
                "group": "Communication"
              },
              {
                "value": "picto-send",
                "label": "Send",
                "group": "Communication"
              },
              {
                "value": "picto-at-sign",
                "label": "At sign",
                "group": "Tech"
              },
              {
                "value": "picto-camera",
                "label": "Camera",
                "group": "Tech"
              },
              {
                "value": "picto-wifi",
                "label": "WiFi",
                "group": "Tech"
              },
              {
                "value": "picto-bluetooth",
                "label": "Bluetooth",
                "group": "Tech"
              },
              {
                "value": "picto-printer",
                "label": "Printer",
                "group": "Tech"
              },
              {
                "value": "picto-smart-watch",
                "label": "Smart watch",
                "group": "Tech"
              },
              {
                "value": "picto-coffee",
                "label": "Coffee",
                "group": "Food & Drink"
              },
              {
                "value": "picto-burger",
                "label": "Burger",
                "group": "Food & Drink"
              },
              {
                "value": "picto-beer",
                "label": "Beer",
                "group": "Food & Drink"
              },
              {
                "value": "picto-target",
                "label": "Target",
                "group": "Other"
              },
              {
                "value": "picto-document",
                "label": "Document",
                "group": "Other"
              },
              {
                "value": "picto-jewelry",
                "label": "Jewelry",
                "group": "Other"
              },
              {
                "value": "picto-music",
                "label": "Music",
                "group": "Other"
              },
              {
                "value": "picto-file",
                "label": "File",
                "group": "Other"
              },
              {
                "value": "picto-mask",
                "label": "Mask",
                "group": "Other"
              },
              {
                "value": "picto-stop",
                "label": "Stop",
                "group": "Other"
              },
              {
                "value": "extended-warranty",
                "label": "Extended Warranty",
                "group": "Custom Icon"
              },
              {
                "value": "online-chat",
                "label": "Online Chat",
                "group": "Custom Icon"
              },
              {
                "value": "delivery-status",
                "label": "Delivery Status",
                "group": "Custom Icon"
              },
              {
                "value": "free-delivery",
                "label": "Free Delivery",
                "group": "Custom Icon"
              }
              
              
            ],
            "default": "picto-coupon"
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Custom icon",
            "info": "240 x 240px .png recommended"
          },
          {
            "type": "range",
            "id": "mobile_icon_width",
            "min": 24,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Mobile icon width",
            "default": 24
          },
          {
            "type": "range",
            "id": "icon_width",
            "min": 24,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Icon width",
            "default": 32
          },
          {
            "type": "select",
            "id": "icon_background_type",
            "label": "Icon background type",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "circle",
                "label": "Circle"
              }
            ],
            "default": "circle"
          },
          {
            "type": "color",
            "id": "icon_background",
            "label": "Icon background"
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "info": "Do not have effect when using custom icon."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Short content about your store</p>"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "label": "Stack on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Carousel Settings"
      },
      {
        "type": "number",
        "id": "speed_slider",
        "label": "Speed Slider",
        "info": "Speed Slider (5000) is = to 5seconds",
        "default": 3000
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Item"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "Heading size",
        "options": [
          {
            "value": "h1",
            "label": "X-Large"
          },
          {
            "value": "h2",
            "label": "Large"
          },
          {
            "value": "h3",
            "label": "Medium"
          },
          {
            "value": "h4",
            "label": "Small"
          },
          {
            "value": "h5",
            "label": "X-Small"
          },
          {
            "value": "h6",
            "label": "XX-Small"
          }
        ],
        "default": "h5"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment (desktop)",
        "options": [
          {
            "value": "start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "icon_spacing",
        "label": "Icon spacing",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Gradient replaces solid colors when set."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background gradient"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Kiks Text with icons",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item",
            "settings": {
              "title": "Free shipping",
              "content": "<p>Free worldwide shipping and returns - customs and duties taxes included</p>"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "Customer service",
              "content": "<p>We are available from monday to friday to answer your questions.</p>"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "Secure payment",
              "content": "<p>Your payment information is processed securely.</p>"
            }
          }
        ]
      }
    ]
  }
  {% endschema %}